<h3 class="title">Books List</h3>
<div class="border-divider"></div>
<div class="row">
  <div class="col-xs-3">
    <ul class="list">
      <li class="list-item" *ngFor="let book of booksList" (click)="getBookDetails(book.isbn)">
        <div class="cover-image-container">
          <span class="cover-image">
            <img [src]="book.coverImage" alt="cover image"/>
          </span>
        </div>
        <div class="clear">
          <h3 class="book-title">{{book.title}}</h3>
          <h4 class="book-author">{{book.authors}}</h4>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-xs-9">
    <div *ngIf="selectedBook" class="row selected-book">
      <div class="col-xs-2">
        <img [src]="selectedBook.coverImage" alt="cover image"/>
      </div>
      <div class="col-xs-8">
        <h3 class="title">{{selectedBook.title}}</h3>
        <p>{{selectedBook.authors}}</p>
        <p>{{selectedBook.published}}</p>
        <p>{{selectedBook.description}}</p>
      </div>
    </div>
  </div>
</div>