<div class="row m-1">
  <div class="col-md-9">
    <div class="box">
      <div class="box-header">
        <h2>Registration Form</h2>
      </div>
      <div class="box-divider"></div>
      <div class="box-body">
        <form novalidate [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>First name</label>
              <input type="text" class="form-control" formControlName="firstName">
              <div class="error-message" *ngIf="registrationForm.get('firstName').touched && registrationForm.get('firstName').hasError('required')">
                The first name is required.
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label>Last name</label>
              <input type="text" class="form-control" formControlName="lastName">
              <div class="error-message" *ngIf="registrationForm.get('lastName').touched && registrationForm.get('lastName').hasError('required')">
                The last name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email">
            <div class="error-message" *ngIf="registrationForm.get('email').touched && registrationForm.get('email').hasError('required')">
              The email is required.
            </div>
            <div class="error-message" *ngIf="registrationForm.get('email').touched && registrationForm.get('email').hasError('pattern')">
              The email format should be <i>shravan@theshravan.net</i>
            </div>
          </div>
          <div formGroupName="address">
            <div class="row">
              <div class="col-sm-6 form-group">
                <label>Street</label>
                <input type="text" class="form-control" formControlName="street">
                <div class="error-message" *ngIf="registrationForm.get('address').get('street').touched && registrationForm.get('address').get('street').hasError('required')">
                  The street is required.
                </div>
              </div>
              <div class="col-sm-6 form-group">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
                <div class="error-message" *ngIf="registrationForm.get('address').get('city').touched && registrationForm.get('address').get('city').hasError('required')">
                  The city is required.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 form-group">
                <label>State</label>
                <input type="text" class="form-control" formControlName="state">
                <div class="error-message" *ngIf="registrationForm.get('address').get('state').touched && registrationForm.get('address').get('state').hasError('required')">
                  The state is required.
                </div>
              </div>
              <div class="col-sm-6 form-group">
                <label>Zip</label>
                <input type="text" class="form-control" formControlName="zip">
                <div class="error-message" *ngIf="registrationForm.get('address').get('zip').touched && registrationForm.get('address').get('zip').hasError('required')">
                  The zip code is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Country</label>
              <select class="form-control" formControlName="country">
                <option value="CA">Canada</option>
                <option value="IN">India</option>
                <option value="SW">Switzerland</option>
                <option value="UK">United Kingdom</option>
                <option value="US">United States of America</option>
              </select>
              <div class="error-message" *ngIf="registrationForm.get('address').get('country').touched && registrationForm.get('address').get('country').hasError('required')">
                The country is required.
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary" [disabled]="registrationForm.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>